# name: Deploy
#
# on:
#   push:
#     branches: [master]
#   pull_request:
#     branches: [master]
# jobs:
#   build-and-deploy:
#     runs-on: ubuntu-latest
#
#     if: github.repository == 'misitebao/wails-docsv1'
#
#     steps:
#       - name: Checkout
#         uses: actions/checkout@master
#
#       - name: Setup Hugo
#         uses: peaceiris/actions-hugo@v2.2.2
#         with:
#           hugo-version: "0.76.5"
#           extended: true
#
#       - name: Build
#         run: hugo --minify
#
#       - name: Deploy to Server
#         uses: hengkx/ssh-deploy@v1.0.1
#         with:
#           HOST: ${{ secrets.DEPLOY_HOST }}
#           USERNAME: ${{ secrets.DEPLOY_HOST_USER }} # 为了用户信息安全对敏感数据可以在secrets中配置请看下图
#           PASSWORD: ${{ secrets.DEPLOY_HOST_PASSWORD }}
#           SOURCE: "public"
#           TARGET: "/www/wwwroot/wails.top"
